Package: com.haotestlabs.nfcbackgroundenabler
Name: NFCBackgroundEnabler
Depends: mobilesubstrate
Version: 1.1.0.0
Architecture: iphoneos-arm
Description: Enables native background NFC detection on iPhones.
Maintainer: ArandomDev <Haow6449@gmail.com>
Author: ArandomDev <Haow6449@gmail.com>
Section: Tweaks
Depiction: https://arandomdev.github.io/cydia/depictions/?p=com.haotestlabs.nfcbackgroundenabler
