<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Smart Tag Lock</string>
			<key>footerText</key>
			<string>Attempts to stop scanning the same tag over and over, until it is removed. When disabled use the slider to set how long each session lasts, The default is 2 seconds.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences</string>
			<key>PostNotification</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences.reload</string>
			<key>key</key>
			<string>TagLockEnable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>default</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences</string>
			<key>PostNotification</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences.reload</string>
			<key>key</key>
			<string>ProtectionTime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cooldown Time</string>
			<key>footerText</key>
			<string>How long to wait between each session. The default is 1 second.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>default</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences</string>
			<key>PostNotification</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences.reload</string>
			<key>key</key>
			<string>DebounceTime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable detection even when airplane mode is on. Note, toggle airplane mode to make this take effect.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Airplane Mode Override</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences</string>
			<key>PostNotification</key>
			<string>com.haotestlabs.nfcbackgroundenablerpreferences.reload</string>
			<key>key</key>
			<string>AirplaneOverride</string>
		</dict>
	</array>
	<key>title</key>
	<string>NFCBackgroundEnabler</string>
</dict>
</plist>